<%= javascript_include_tag "custom/projetIndex.js", defer: true %>
<%# <audio src="/assets/Le Lobby.wav" controls ></audio> %>
<div class="container">
  <h1>Projets#index</h1>
  <p>Find me in app/views/projets/index.html.erb</p>



<h1>Liste des projets:</h1>
<% @projets.each do |projet| %>
  <li><%= projet.nom %>: <%= projet.descriptionR %></li>
  <span class="btn-projet"><%= link_to "En savoir plus", projet_path(projet) %></span>
<% end %>
