.hero-container {
  display: flex;
  font-size: 2rem;
  justify-content: space-evenly;
  height: 100%;
  margin: 0 5rem;
}

@media only screen and (max-width:1024px){

  .homepage-image{
    visibility: hidden;
    position: absolute;
  }
}
@media only screen and (min-width:1250px){
  .hero-container{
    height: 150%;
  }
}
