<div class="header">
  <div class="logo">
    <h2>Zcorp</h2>
  </div>
  <div class="link-box">
  <div class="nav-link"><%= link_to_unless_current "Accueil", "/" %></div>
  <div class="nav-link"><%= link_to_unless_current "Projets", "/projets" %></div>
  <div class="nav-link"><%= link_to_unless_current "Contact", "#"%></div>
  </div>
</div>
