<div class="header">
  <h2>ZaloCorp</h2>
  <div class="link-box">
  <div class="nav-link"><%= link_to "Accueil", "/" %></div>
  <div class="nav-link"><%= link_to "Projets", "/projets" %></div>
  <div class="nav-link">Contact</div>
  </div>
  <div class="linkbox"></div>
</div>
