<%= javascript_include_tag "custom/homepage.js", defer: true %>
<%= stylesheet_link_tag "pages/homepage.css" %>
<%# <audio src="./assets/Tentative 2(mixed).wav" controls preload></audio> %>
<div class="hero-section">
  <div class="container hero-container">
    <div class="text-container">
      <h1>Z Corp</h1>
      <p>La Z corp est une équipe de super crackito, réalisant des sites internet uniques
      et des applications incroyables pour le plaisir de TOUT LE MONDE.</p>
    </div>
    <img class="homepage-image" src="https://picsum.photos/200" alt="">
  </div>

</div>

<div class="container">
  <h2><span class="cta"><%= link_to "Voir nos projets ->", "/projets" %></span></h2>

</div>
