<div class="hero-section">
  <div class="container">
    <h1>Z Corp</h1>
    <p>La Z corp est une équipe de super crackito, réalisant des sites internet uniques
    et des applications incroyables pour le plaisir de TOUT LE MONDE</p>
  </div>
</div>
