*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

a{
  text-decoration: none;
}

h1{
  font-size: 5rem;
  font-family: var(--font-family-title);
}

h2{
  font-size: 2rem;
}

p,h2,h3,h4,h5,h6{
  font-family: var(--font-family);
}

body {
  min-height: 100%;
  font-family: var(--font-family);
  font-style: normal;
  background-color: var(--color-background);
}


img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
