.header{
  background-color: var(--color-secondary);
  position: sticky;
  top: 0;
  height: 2rem;
  justify-content: space-between;
  padding: 0 2rem;
}

.link-box, .header {
  display: flex;
  align-items: center;
}

.nav-link{
  margin: 0 5px;
}
